body {
  background-color: #D3D3D3 ;
  color: #333;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2, h3, h4, h5 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  img {
    max-width: 100%; 
    height: auto; 
  }
}

.popup {
  display: none;
}


  
  

