body {
  background-color: #D3D3D3 ;
  color: #333;
  margin: 0;
  font-family: Arial, sans-serif; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 

  animation: changeBackground 10s infinite;
  background-size: cover; 
  background-position: center;
}

@keyframes changeBackground { 
  0% { background-image: url(images/UNC-1.jpg);}
  33.33% { background-image: url(images/UNC-2.jpg);}
  66.66% { background-image: url(images/UNC-3.jpg);}
  100% { background-image: url(images/UNC-4.jpg);} 
  
}



@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2, h3, h4, h5 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  img {
    max-width: 100%; 
    height: auto; 
  }
}

.popup {
  display: none;
}


  
  

